{
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "singleAttributePerLine": true,
  "printWidth": 110,
  "proseWrap": "always",
  "bracketSpacing": true
}
